<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
<div class="container">
    <div class="card card-body">
        <h3>Create Venue</h3>
        <form enctype="multipart/form-data" action="/admin/venue/create" method="post" >

            <div class="form-group">
                <label class="font-italic" for="venueName">Name</label>
                <br>
                <input type="text" class="form-control" name="venueName" placeholder="Star Theatre, Star Gallery, Star Lodge, Star Loft, Star Terrace..." required>
            </div>
            <div class="form-group mb-4">
                <label class="font-italic" for="venueStory">Description</label>
                <textarea class="form-control" id="venueStory" name="venueStory" placeholder="Located in a cooling and refreshing open space.." required></textarea>
            </div>

            <div class="form-group">
                <div class="row mb-2">
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="font-italic">Price</label>
                        <br>
                        <input type="number" class="form-control" name="venuePrice"
                            placeholder="6000, 7500, 9000, 10500 etc.... Do not enter $" required>

                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="font-italic">Poster</label>
                        <br>
                        <input type="file" id="file" onchange="return fileValidation()" name="venuePoster" accept="image/png,image/jpeg,image/jpg,image/gif" required>
                        <!-- Image preview -->
                        <div id="imagePreview"></div>
                        {{!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="other" value="other" name="other">
                            <label class="form-check-label" for="other">Other</label>
                        </div> --}}
                    </div>
                </div>

            </div>
            <br>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<script>
    var dateToday = new Date();
    $('#datepicker').datepicker({
        format: 'yyyy-mm-dd',
        uiLibrary: 'bootstrap4',
        minDate: dateToday
    });


    function fileValidation() {
        var fileInput = document.getElementById('file');

        var filePath = fileInput.value;

        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
        else {
            // Image preview if the uploaded file extension follows the file type.
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById(
                        'imagePreview').innerHTML =
                        '<img src="' + e.target.result
                        + '"/>';
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    }
</script>