
            <h3>Update Venue</h3>
            <form action="/venue/update/{{content.uuid}}" method="post" id="content-form"
                enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="font-italic" for="venueName">Venue Name</label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="Star Theatre" name="venueName"  checked >
                                <label class="form-check-label">Star Theatre</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"  value="Star Lodge" name="venueName"  >
                                <label class="form-check-label">Star Lodge</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="Star Terrace" name="venueName" >
                                <label class="form-check-label">Star Terrace</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="Star Gallery" name="venueName">
                                <label class="form-check-label">Star Gallery</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="Star Loft" name="venueName">
                                <label class="form-check-label">Star Loft</label>
                            </div>

                        </div>
            
                        <div class="form-group mb-4">
                            <label class="font-italic" for="venueStory">Venue Story</label>
                            <textarea class="form-control" id="venueStory" name="venueStory" placeholder="Located in a cooling and refreshing open space.." required>{{content.venueStory}}</textarea>
                        </div>
                    </div>
            
                    <div class="form-group col">
                        <label class="font-italic" for="venuePoster">Venue Poster</label>
                        <br>
                        <input onchange="return fileValidation()" type="file" id="file" name="venuePoster" accept="image/png,image/jpeg,image/jpg,image/gif" required>
                        <!-- Image preview -->
                        <div id="imagePreview"></div>

                    </div>
                </div>
            
                <div class="form-group">
                    <div class="row mb-2">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4">
                            <label class="font-italic">Venue Date</label>
                            <input id="datepicker" width="200" name="venueDate" value="{{ content.venueDate }}" pattern="\d{1,4}-\d{1,2}-\d{1,2}" placeholder="yyyy-mm-dd" required/>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <label class="font-italic">Venue Time</label>
                            <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="10am ~ 1pm" name="venueTime" checked>
                            <label class="form-check-label">10am ~ 1pm</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="3pm ~ 6pm" name="venueTime">
                            <label class="form-check-label">3pm ~ 6pm</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="7pm ~ 10pm" name="venueTime">
                            <label class="form-check-label">7pm ~ 10pm</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="12pm ~ 3am" name="venueTime">
                            <label class="form-check-label">12pm ~ 3am</label>
                        </div>
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="font-italic">Venue Price</label>
                            <br>
            
                            <div class="form-check form-check-inline">
                                {{!-- radio buttons --}}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="venuePrice" value="6000" name="venuePrice" checked>
                                    <label class="form-check-label" for="venuePrice">$6000</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="venuePrice" value="7500" name="venuePrice">
                                    <label class="form-check-label" for="venuePrice">$7500</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="venuePrice" value="9000" name="venuePrice">
                                    <label class="form-check-label" for="venuePrice">$9000</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="venuePrice" value="10500" name="venuePrice">
                                    <label class="form-check-label" for="venuePrice">$10,500</label>
                                </div>
                                <br>
                                {{!--<div class="form-check form-check-inline">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-sm" name="otherSub" id="otherSub" placeholder="Other">
                                    </div>
                                </div>--}}


                            </div>
                        </div>
            
                    </div>
                </div>
            
                <br>
            
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-primary" href="/venue/retrieve">Cancel</a>
            </form>
            
<script>
    // 1. Variable is correct x.ssss
    // 2. value or default date assigned to a string
    var dateToday = new Date();
    $('#datepicker').datepicker({
        format: 'yyyy-mm-dd',
        uiLibrary: 'bootstrap4',
        minDate: dateToday
    });


    function fileValidation() {
        var fileInput = document.getElementById('file');

        var filePath = fileInput.value;

        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
        else {
            // Image preview if the uploaded file extension follows the file type.
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById(
                        'imagePreview').innerHTML =
                        '<img src="' + e.target.result
                        + '"/>';
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    }

</script>