<link rel="stylesheet" href="/public/css/footer.css">

<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="footer-row d-flex ">
            <div class="col-sm-12 col-md-4">
                <h6>About</h6>
                <ul class="footer-links">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Company</h6>
                <ul class="footer-links">
                    <li><a href="">Careers</a></li>
                    <li><a href="">Partners</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">Advertise</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-4">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="">Report Vulnerability</a></li>
                    <li><a href="">Term and Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Feedback</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="footer-row d-flex">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">&copy; 2021 Starstream Singapore,INC. All Rights Reserved.</p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a class="instagram" href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a class="reddit" href=""><i class="fa fa-reddit"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>