<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
	<div class="container">
		<a class="navbar-brand" href="/"><strong>Star Stream</strong></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
				  aria-expanded="false"
				  aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/home">Home</a>
				</li>

				{{!-- <li class="nav-item">
					<a class="nav-link" href="/anything">Anything</a>
				</li> --}}
			</ul>
			<ul class="navbar-nav ml-auto">
				
				{{#if user }}
					{{!-- Only for customer nav bar --}}
					{{#if cust }}
					<li class="nav-item">
						<a class="nav-link" href="/stream/book">BookStream</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/feedback/create">GiveFeedback</a>
					</li>

					{{/if}}
				{{!-- Only for performer nav bar, after logging in as performer, performerHomePage shows --}}
					{{#if perf }}
					<li class="nav-item">
						<a class="nav-link" href="/venue/book">BookVenue</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/feedback/create">GiveFeedback</a>
					</li>

					<div>						
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Manage stream</a>
							<div class="dropdown-menu">
								<a href="/stream/retrieve" class="dropdown-item">Retrieve</a>
								<a href="/stream/create"  class="dropdown-item">Create</a>
							</div>
						</li>
					</div>
					{{/if}}
				{{!-- Only for admin nav bar --}}
				{{#if admin }}
					<li class="nav-item">
						<a class="nav-link" href="/anything">CreateAdmin</a>
					</li>
					<li class="nav-item">
											{{!-- follow the name of ur thing --}}
						<a class="nav-link" href="feedback/retrieve">ViewAllFeedback</a>
					</li>


					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Manage Venue</a>
						<div class="dropdown-menu">
							<a href="/venue/retrieve" class="dropdown-item">Retrieve</a>
							<a href="/venue/create"  class="dropdown-item">Create</a>
						</div>
					</li>
				{{/if}}
					



			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/profile">Welcome {{user.email}}, view your profile</a>

				</li>
				
			</ul>
					<li class="nav-item">
						<a href="/auth/logout" class="nav-link">Logout</a>
					</li>
				{{else}}
					<li class="nav-item">
						{{!-- main.js router(/login)--}}
						<a href="/auth/login" class="nav-link">Log In</a>
					</li>
					<li class="nav-item">
						<a href="/auth/register" class="nav-link">Register</a>
					</li>
				{{/if}}
			</ul>
		</div>
	</div>
</nav>
