<link rel="stylesheet" href="/public/css/navbar.css">

<nav class="navbar navbar-expand-sm navbar-dark">
	<div class="container">
        {{#if user }}
            {{#if cust}}
                <a class="navbar-brand" href="/customerHomePage"><strong>st<span>a</span>rstre<span>a</span>m</strong></a>
            {{/if}}
            {{#if perf}}
                <a class="navbar-brand" href="/performerHomePage"><strong>st<span>a</span>rstre<span>a</span>m</strong></a>
            {{/if}}
            {{#if admin}}
                <a class="navbar-brand" href="/admin/homePage"><strong>st<span>a</span>rstre<span>a</span>m</strong></a>
            {{/if}}

     
                <ul class="navbar-nav">
            
                    {{!-- Customer Navbar --}}
                    {{#if cust}}
                        <li class="nav-item">
                            <a class="nav-link" href="/customerHomePage">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stream/book">Buy Tickets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/feedback/create">Contact Us</a>
                        </li>
                    {{/if}}
            
                    {{!-- Performer Navbar --}}
                    {{#if perf}}
                        <li class="nav-item">
                            <a class="nav-link" href="/performerHomePage">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/venue/book">Book Venue</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Manage My Stream</a>
                            <div class="dropdown-menu">
                                <a href="/stream/retrieve" class="dropdown-item">View My Stream</a>
                                <a href="/stream/create" class="dropdown-item">Create Stream</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/feedback/create">Contact Us</a>
                        </li>
                    {{/if}}
            
                    {{!-- Admin Navbar --}}
                    {{#if admin}}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/homePage">Home</a>
                        </li>
                
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Manage
                                Venue</a>
                            <div class="dropdown-menu">
                                <a href="/admin/venue/retrieve" class="dropdown-item">Retrieve</a>
                                <a href="/admin/venue/create" class="dropdown-item">Create</a>
                            </div>
                        </li>
                    {{/if}}
            
                    {{!-- Profile Icon --}}
                    <li class="nav-item dropdown">
                        <img src="/{{user.profile_pic}}" alt="user image" class="dropdown-toggle img" id="navbarDropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
                            <a class="dropdown-item" href="/profile">Profile</a>
            
                            {{!-- Customer Profile --}}
                            {{#if cust}}
                            <a class="dropdown-item" href="/stream/viewMyPurchases">My Ticket Purchases</a>
                            <a class="dropdown-item" href="/feedback/my">View My Feedback</a>
                            {{/if}}
            
                            {{!-- Preformer Profile --}}
                            {{#if perf}}
                            <a class="dropdown-item" href="/venue/viewMyPurchases">My Venue Purchases</a>
                            <a class="dropdown-item" href="/feedback/my">View My Feedback</a>
                            {{/if}}
            
                            <a class="dropdown-item" href="/auth/logout">
                                <i class="fa fa-sign-out mr-1"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
          

		    {{else}}
                <div class="nav-item">
                <a class="navbar-brand" href="/index"><strong>st<span>a</span>rstre<span>a</span>m</strong></a>
                </div>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">About</a>
                        </li>
                        {{!-- Login Button --}}
                        <li class="btn-item ml-3">
                            <a href="/auth/login" class="auth-link">Login</a>
                        </li>
                        {{!-- Register Button --}}
                        <li class="btn-item">
                            <a href="/auth/register" class="auth-link">Register</a>
                        </li>
                    </ul>
               
		{{/if}}
	</div>
</nav>
