<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
	<div class="container">
		<a class="navbar-brand" href="/"><strong>Star Stream</strong></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
				  aria-expanded="false"
				  aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/home">Home</a>
				</li>

				{{!-- <li class="nav-item">
					<a class="nav-link" href="/anything">Anything</a>
				</li> --}}
			</ul>
			<ul class="navbar-nav ml-auto">
				
				{{#if user }}
					{{!-- Only for customer nav bar --}}
					{{#if cust }}
					<li class="nav-item">
						<a class="nav-link" href="/ticket/BuyTickets">Buy Ticket</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/feedback/addFeedback">GiveFeedback</a>
					</li>

					{{/if}}
				{{!-- Only for performer nav bar, after logging in as performer, performerHomePage shows --}}
					{{#if perf }}
					<li class="nav-item">
						<a class="nav-link" href="/venue/bookVenue">BookVenue</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/feedback/addFeedback">GiveFeedback</a>
					</li>

					<div>						
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Manage Ticket</a>
							<div class="dropdown-menu">
								<a href="/ticket/RetrieveTickets" class="dropdown-item">Retrieve Tickets</a>
								<a href="/ticket/CreateTickets"  class="dropdown-item">Create Ticket</a>
							</div>
						</li>
					</div>
					{{/if}}
				{{!-- Only for admin nav bar --}}
				{{#if admin }}
					<li class="nav-item">
						<a class="nav-link" href="/anything">CreateAdmin</a>
					</li>
					<li class="nav-item">
											{{!-- follow the name of ur thing --}}
						<a class="nav-link" href="feedback/listFeedback">ViewAllFeedback</a>
					</li>


					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Manage Venue</a>
						<div class="dropdown-menu">
							<a href="/venue/listVenue" class="dropdown-item">List Venues</a>
							<a href="/venue/addVenue"  class="dropdown-item">Add Venue</a>
						</div>
					</li>
				{{/if}}
					



			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/profile">Welcome {{user.email}}, view your profile</a>

				</li>
				
			</ul>
					<li class="nav-item">
						<a href="/auth/logout" class="nav-link">Logout</a>
					</li>
				{{else}}
					<li class="nav-item">
						{{!-- main.js router(/login)--}}
						<a href="/auth/login" class="nav-link">Log In</a>
					</li>
					<li class="nav-item">
						<a href="/auth/register" class="nav-link">Register</a>
					</li>
				{{/if}}
			</ul>
		</div>
	</div>
</nav>
<style>
	/*hide role-specific div html*/

/*div.performer {
display: none;
}*/
</style>
<script>
	// Show div html based on role
		console.log("Im inside the script tag!");
		if (user.role == "performer") {
			$("div.performer").show();
		}

		

		

		
</script>