<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
<div class="container">
	<div class="card card-body">
		<h3>Stream Details</h3>
		<form enctype="multipart/form-data" action="/stream/create" method="post" >
			<div class="form-group">
				<label class="font-italic" for="concertName">Concert Name</label>
				<input class="form-control" id="concertName" name="concertName" rows="7" placeholder="Blackpink World Tour, EXO Concert Tour etc.." required></input>
			</div>
            <div class="form-group">
				<label class="font-italic" for="artistName">Artist Name</label>
				<input class="form-control" id="artistName" name="artistName" rows="7" placeholder="Blackpink, EXO, IKON, BTOB etc..." required></input>
			</div>
			<div class="form-group mb-4">
				<label class="font-italic" for="concertStory">Concert Details </label>
				<textarea class="form-control" id="concertStory" name="concertStory" rows="7" placeholder="Debuted in 2011 under Cube Entertainment etc..." required></textarea>
			</div>

			<div class="form-group">
				<div class="row mb-2">
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4">
						<label class="font-italic">Date of Concert</label>
						<br>
                        <input id="datepicker" width="200" name="concertDate" pattern="\d{1,4}-\d{1,2}-\d{1,2}" placeholder="yyyy-mm-dd" onchange="return checkDate(concertDate)" required />
					</div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-6">
						<label class="font-italic">Concert Time</label>
						<br>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="concertTime" id="10am ~ 1pm" value="10am ~ 1pm" checked>
							<label class="form-check-label" for="10am ~ 1pm">10am ~ 1pm</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="concertTime" id="3pm ~ 6pm" value="3pm ~ 6pm">
							<label class="form-check-label" for="3pm ~ 6pm">3pm ~ 6pm</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="concertTime" id="7pm ~ 10pm" value="7pm ~ 10pm">
							<label class="form-check-label" for="7pm ~ 10pm">7pm ~ 10pm</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="concertTime" id="12pm ~ 3am" value="12pm ~ 3am">
							<label class="form-check-label" for="12pm ~ 3am">12pm ~ 3am</label>
						</div>
						{{!--<div class="form-check form-check-inline">
							<div class="form-group">
								<input type="text" class="form-control form-control-sm" name="otherSub" id="otherSub" placeholder="Other">
							</div>
						</div>--}}

					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<label class="font-italic">Price of Streams</label>
						<br>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="concertPrice" id="concertPrice" value="40" checked>
							<label class="form-check-label" for="concertPrice">$40</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="concertPrice" id="concertPrice" value="50">
							<label class="form-check-label" for="concertPrice">$50</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="concertPrice" id="concertPrice" value="60">
							<label class="form-check-label" for="concertPrice">$60</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="concertPrice" id="concertPrice" value="70">
							<label class="form-check-label" for="concertPrice">$70</label>
						</div>
						{{!--<div class="form-check form-check-inline">
							<div class="form-group">
								<input type="text" class="form-control form-control-sm" name="otherSub" id="otherSub" placeholder="Other">
							</div>
						</div>--}}
					</div>
				<br>
				<div class="form-group">
				<label class="font-italic" for="concertPoster">Concert Image URL</label>
				<br>
				<input type="file" id="file" onchange="return fileValidation()" name="concertPoster" rows="7" accept="image/png,image/jpeg,image/jpg,image/gif" required/>
				<div id="imagePreview"></div>
				</div>
				</div>

			</div>
			
			<br>
			<button type="submit" class="btn btn-primary">Save
			</button>
		</form>
	</div>
</div>


<script>
	var dateToday = new Date();
    $('#datepicker').datepicker({
        format: 'yyyy-mm-dd',
        uiLibrary: 'bootstrap4',
        minDate: dateToday
    });


	function checkDate(form)
  {
	// regular expression to match required date format
    re = /^\d{1,2}\/\d{1,2}\/\d{4}$/;

    if(form.startdate.value != '' && !form.startdate.value.match(re)) {
      alert("Invalid date format: " + form.startdate.value);
      form.startdate.focus();
      return false;
	}
	alert("All input fields have been validated!");
    return true;
  }


function fileValidation() {
        var fileInput = document.getElementById('file');

        var filePath = fileInput.value;

        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
        else {
            // Image preview if the uploaded file extension follows the file type.
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById(
                        'imagePreview').innerHTML =
                        '<img src="' + e.target.result
                        + '"/>';
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    }
</script>