<h1>This is admin home page</h1>
<h1>So, what are you planning to do today?</h1>
<p>View stream report? Sure no problem!</p>
<a href="/haventDoYet">View Stream Report</a>
<p>View venue report? Sure no problem!</p>
<a href="/haventDoYet">View Venue Report</a>
<p>Manage all users? Here you go!</p>
<a href="/auth/retrieve">Manage Users</a>
<p>Manage all streams? Here you go!</p>
<a href="/stream/retrieveall">Manage all streams</a>
