<h1>This is admin home page</h1>
<h1>So, what are you planning to do today?</h1>
<p>View ticket report? Sure no problem!</p>
<a href="/haventDoYet">View Ticket Report</a>
<p>View venue report? Sure no problem!</p>
<a href="/haventDoYet">View Venue Report</a>