<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
<div class="container">
    <div class="card card-body">
        <h3>Feedback</h3>
        <h4>Please take a short moment to fill up this feedback form so we can ensure a top quality experience for all our customers</h4>
        <form enctype="multipart/form-data" action="/venue/addVenue" method="post" >

            <div class="form-group">
                <label class="font-italic" for="venueName">Venue Name</label>
                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="Star Theatre" value="Star Theatre" name="venueName" checked>
                    <label class="form-check-label" for="Star Theatre">Star Theatre</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="Star Lodge" value="Star Lodge" name="venueName">
                    <label class="form-check-label" for="Star Lodge">Star Lodge</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="Star Terrace" value="Star Terrace" name="venueName">
                    <label class="form-check-label" for="Star Terrace">Star Terrace</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="Star Gallery" value="Star Gallery" name="venueName">
                    <label class="form-check-label" for="Star Gallery">Star Gallery</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="Star Loft" value="Star Loft" name="venueName">
                    <label class="form-check-label" for="Star Loft">Star Loft</label>
                </div>
            </div>
            <div class="form-group mb-4">
                <label class="font-italic" for="venueStory">Venue Story</label>
                <textarea class="form-control" id="venueStory" name="venueStory" ></textarea required>
            </div>

            <div class="form-group">
                <div class="row mb-2">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4">
                        <label class="font-italic">Venue Date</label>
                        <br>
                        <input id="datepicker" width="200" name="venueDate"/ required>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <label class="font-italic">venueTime</label>
                        <br>
                        {{!-- radio buttons --}}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="10am ~ 1pm" name="venueTime">
                            <label class="form-check-label">10am ~ 1pm</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="3pm ~ 6pm" name="venueTime">
                            <label class="form-check-label">3pm ~ 6pm</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="7pm ~ 10pm" name="venueTime">
                            <label class="form-check-label">7pm ~ 10pm</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="12pm ~ 3am" name="venueTime">
                            <label class="form-check-label">12pm ~ 3am</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="font-italic">venuePrice</label>
                        <br>
                        {{!-- radio buttons --}}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="venuePrice" value="$2000/hr" name="venuePrice">
                            <label class="form-check-label" for="venuePrice">$2000/hr</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="venuePrice" value="$2500/hr" name="venuePrice">
                            <label class="form-check-label" for="venuePrice">$2500/hr</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="venuePrice" value="$3000/hr" name="venuePrice">
                            <label class="form-check-label" for="venuePrice">$3000/hr</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="venuePrice" value="$3500/hr" name="venuePrice">
                            <label class="form-check-label" for="venuePrice">$3500/hr</label>
                        </div>
                        <br>
                        {{!--<div class="form-check form-check-inline">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" name="otherSub" id="otherSub"
                                    placeholder="Other">
                            </div>
                        </div>--}}
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="font-italic">venuePoster</label>
                        <br>
                        <input type="file" name="venuePoster" required>
                       
                        <br>
                        {{!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="other" value="other" name="other">
                            <label class="form-check-label" for="other">Other</label>
                        </div> --}}
                    </div>
                </div>

            </div>
            <br>


            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>



<style>
h4{
    font-size: small;
}
</style>