

<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<h3 class="text-center"><strong>PROFILE DETAILS</strong></h3>
			<form action="/profile" method="post">
				<div class="form-group">
                    <br>
                    <label> <strong>NAME:</strong> {{user.name}}</label> <br>
					<label for="email"> <strong>EMAIL:</strong> {{user.email}}</label>
					<label><strong>Do you want to update your name to a cooler one?</strong></label>
					<input type="text" name="name" class="form-control" placeholder="Enter new name..." required>
					<br>
					<label><strong>Do you want to update your email to a cooler one?</strong></label>
					<input type="email" name="email" class="form-control" placeholder="Enter new email..." required>
				</div>
				
				<button type="submit" class="btn btn-primary"><strong>Update details</strong></button>
			</form>
			<br>
			<label><strong>Are you sure you want to delete your account PERMANENTLY?</strong> </label>
			<form method="post" action="/{{user.uuid}}?_method=DELETE">
				<a class="btn btn-danger"  href="javascript:;" onclick="if (confirm('Confirm delete?')) parentNode.submit();"
					data-title="Confirm delete?">Delete Account</a>
			</form>

		</div>
	</div>
</div>

<style>
.center {
  margin: auto;
  width: 16%;
  border: 3px solid black;
  padding: 10px;
  background-color:#E6E2DA ;
}
label{
    font-size: 20px;
}
h3{
    font-size: 35px;
}

</style>