

<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<h3 class="text-center"><strong>PROFILE DETAILS</strong></h3>
			<form action="/auth/login" method="post">
				<div class="form-group">
                    <br>
                    <label> <strong>NAME:</strong> {{user.name}}</label> <br>
					<label for="email"> <strong>EMAIL:</strong> {{user.email}}</label>
					<input type="text" name="name" class="form-control" placeholder=" Update name" required>
					<input type="email" name="email" class="form-control" placeholder=" Update email" required>
				</div>
				
				<button type="submit" class="btn btn-primary"><strong>Update details</strong></button>
			</form>
		</div>
	</div>
</div>

<style>
.center {
  margin: auto;
  width: 16%;
  border: 3px solid black;
  padding: 10px;
  background-color:#E6E2DA ;
}
label{
    font-size: 20px;
}
h3{
    font-size: 35px;
}

</style>