<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/public/img/Starstreamlogo.jpeg">
			<h3 class="text-center">Trouble logging in?</h3>
            <h2 class="text-center">Enter your email and we'll send you a link to get back into your account.</h2>
			<form action="/auth/forget" method="post">
				<div class="form-group">
					<label for="email"><strong>Email</strong></label>
					<input type="email" name="email" class="form-control" value="{{email}}" placeholder="E.g Example@gmail.com" required>
				</div>
				
				<button type="submit" class="btn btn-primary" ><strong>Submit</strong></button>

			</form>
			<a class="nav-link mt-3" href="/auth/register">Don't have an account? Click here to register!</a>


		</div>
	</div>
</div>


<style>
	
h2{
    font-size: 18px;
    font-weight: 400;
}

</style>
