<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/public/img/Starstreamlogo.jpeg">
			<h3 class="text-center">Account Login</h3>
			<form action="/auth/login" method="post">
				<div class="form-group">
					<label for="email"><strong>Email</strong></label>
					<input type="email" name="email" class="form-control" value="{{email}}" placeholder="E.g Example@gmail.com" required>
				</div>
				<div class="form-group">
					<label for="password"><strong>Password</strong></label>
					<input type="password" name="password" class="form-control" value="{{password}}" required>
				</div>
				<button type="submit" class="btn btn-primary"><strong>Submit</strong></button>

			</form>
			<a class="nav-link mt-3" href="/auth/register">Don't have an account? Click here to register!</a>

		</div>
	</div>
</div>