
<h1>Retrieve all users</h1>
<table 
    data-toggle="table" 
    data-url="/auth/retrieve-data">
    <thead>
        <tr>
            <th data-field="name">Name</th>
            <th data-field="email">Email</th>
        </tr>
    </thead>
</table>